$primary-color: blue;
$font-size-title: 24px;
$font-size-description: 16px;

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    width: 300;

}

.card .title {
    font-size: $font-size-title;
    margin: 10px 0;
    color: $primary-color;

}

.card .description {
    font-size: $font-size-description;
    color: black;
}