.div-container {
  padding: 24px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  margin: 24px 24px;
}

.text-search {
  font-size: 20px;
  font-weight: 700;
}

.div-input-search {
  border: 1px solid #ddd;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-icon-search {
  padding: 24px 20px;
}

.input-search {
  flex: 1;
  padding: 24px 20px;
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  font-size: 20px;
}

.div-text {
  flex: 1;
}

select {
  width: 100%;
  padding: 24px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
  appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23888888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select:focus {
  outline: none;
  border-color: rgba(72, 186, 40, 1);
  box-shadow: 0 0 5px rgba(72, 186, 40, 0.5);
}
